@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

*{

    margin: 0;
    padding: 0;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(walpaper.webp);
    background-size: cover;
    
}
.container{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 95px;
    backdrop-filter: blur(8px);
    border: 1px solid white;
    border-radius: 10%;
}


.logo{
    color: white;
    font-family: "Jersey 25", sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 25%;
}
.caixa1 , input{

    align-items: center;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    padding: 5%;
    margin-right: -13%;
  
}
.caixa1 , input, ::placeholder{
    color: white;
}

.botao-comando{ 

    padding: 15%;
    margin-right: -5px;
    font-size: 50px;
    text-align: center;
    
}
.botao{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lembrete-senha{

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-left: -18px;
    margin-right: -10px ;
}
.link{
    color: white;
}


   
    


    
